/* //Homepage */

.homePage {
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchArea {
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 60px 150px;
  padding: 50px 50px 70px 50px;
  margin: 200px auto;
  border-color: transparent;
  border-radius: 2px;
}

.searchButton {
  background-color: #fa6863;
  border-color: transparent;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  margin: 20px 150px auto 170px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.searchForm {
  width: 300px;
  margin: 0 120px auto 120px;
}

/* Search Results */

body {
  margin: 40px;
}

.allArtists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.eachArtist {
  width: 20vw;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4d4d4d;
  justify-content: end;
}

.artistImg {
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
}

.artistImage {
  width: 100%;
  height: 20vw;
  background-color: #4d4d4d;
}

.artist a {
  width: 30%;
  margin: 5px 10px 10px 10px;
  padding: 5px;
  font-weight: bolder;
  background-color: #ef6866;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 10px;
  text-align: center;
}

.artist h4 {
  color: white;
  margin: 1px;
  text-align: center;
}

/* .artistInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(70, 70, 70);
} */
